
.App {background-color: rgb(155, 153, 153);
  text-align: center;
}
input{
  padding: 14px;
  margin-right: 10px;
  border-radius: 1px;
}
ul{background-color: rgb(143, 141, 141);
 list-style: none; 
}
li{background-color: rgb(117, 116, 116);
  margin: 12px;
}
.deletebutton{
  color: rgb(252, 12, 12);
  margin-left: 108px;
  font-size: 15px;
  border-radius: 1px;
  
  padding: 10px;
}
.addtodo{
  padding: 14px;
  color: rgb(15, 15, 238);
  border-radius: 1px;
}
body{
  background-color: rgb(99, 98, 98);
}
